<ion-header>
  <ion-navbar>
    <ion-title>
      Grid Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid text-center>
    
    <ion-row>
      <ion-col *ngFor="let day of dayOfTheWeek">
        <p><strong>{{day}}</strong></p>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let row of dataTable">
      <ion-col *ngFor="let col of row">
        <p>{{col}}<br />{{col}}</p>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
